.zwd-weather-info {
	align-self: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
}

.zwd-weather-info__opening-sentence {
	margin-top: 0;
	margin-bottom: 16px;
}

.zwd-weather-info__general-weather {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.zwd-weather-info__general-weather > * {
	margin-left: 4px;
	margin-right: 4px;
}

.zwd-general-weather__general-weather-icon {
	background-color: rgba(0,0,0,0.07);
	border-radius: 50%;
	width: auto;
	height: 64px;
}

.zwd-general-weather__general-weather-description {
	font-size: 32px;
	/* browser style overrides */
	margin-top: 0;
	margin-bottom: 0;
}

.zwd-general-weather__controls {
	display: flex;
	flex-direction: row;
}

.zwd-general-weather__controls > * {
	margin-left: 4px;
	margin-right: 4px;
}