/* The Nunito font is released under the Open Font License 1.1. */
/* See "nunito-license.txt" for more licensing info. */
@font-face {
	font-family: 'Nunito';
	src:
		local('Nunito'),
		local('Nunito-Regular'),
		url('./assets/fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src:
		local('Nunito-Bold'),
		url('./assets/fonts/Nunito-Bold.ttf') format('opentype');
}

.zwd {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

.zwd * {
	box-sizing: border-box;
}

.zwd a {
	color: inherit;
	text-decoration: underline;
}

.zwd a:hover {
	color: #20b;
}

.zwd button {
	background-color: #fd0;
	border: none;
	border-radius: 12px;
	box-shadow: 0 2px 1px #db0;
	color: #000;
	font-family: 'Nunito', sans-serif; /* To override button styling in Chromium-based browsers. */
	font-size: 1.2em;
	padding: 6px 12px;
}

.zwd button:hover {
	filter: brightness(1.05);
}

.zwd button:active {
	box-shadow: none;
	transform: translateY(1px);
}

.zwd h1 {
	font-size: 1.6em;
}

.zwd select {
	background-color: #fd0;
	border: 2px solid #db0;
	border-radius: 12px;
	color: #000;
	font-size: 1.2em;
	padding: 6px 12px;
}

.zwd select:hover {
	filter: brightness(1.05);
}